*{
    margin: 0px;
    padding: 0px;
}
body *{
    /* outline: 1px solid pink; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    margin-bottom: 10px;
    font-size: small;
}
h2{
    font-size: medium;
    font-weight: normal;
}
h4{
    margin-bottom: 10px;
}
div.container{
    width: 970px;
    min-height: 500px;
    margin: 0px auto;
}
    div.container div.header{
        min-height: 500px;
        padding: 10px;
        color: white;
        background-color: #245076;
        border-bottom: 4px solid #183753;
    }
        div.container div.header div.top{
            height: 100px;
            font-size: small;
            margin-bottom: 20px;
        }
            div.container div.header div.top a{
                color: #ffdb3b;
            }
            div.container div.header div.top a:hover{
                text-decoration: none;
            }
            div.container div.header div.top img{
                height: 100px;
            }
            div.container div.header div.top div.left{
                height: 100px;
                width: 685px;
                display: inline-block;
            }
            div.container div.header div.top div.right{
                vertical-align: top;
                display: inline-block;
            }
            div.container div.header div.top ul{
                margin: 0px 0px 5px 70px;
                display: inline-block;
            }
            div.container div.header div.top ul li{
                display: inline-block;
            }
            div.container div.header div.top div.search{
                width: 240px;
                padding: 10px;
                background-color: #444444;
                border-radius: 10px;
                box-shadow: 2px 2px 5px #2c2c2c;
                text-align: center;
            }
                div.container div.header div.top div.search .textarea{
                    height: 35px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 2px solid rgba(204, 204, 204, 0.548);
                    background-color: #f8f8f8;
                    box-shadow: inset 2px 2px 2px 0px rgb(77, 76, 76);
                    text-align: center;
                }
                div.container div.header div.top div.search .button{
                    width: 35px;
                    height: 30px;
                    border-radius: 5px;
                    color: white;
                    background-color: #245076;
                }
        div.container div.header div.navbar{
            width: 850px;
            margin: 0px auto 20px;
            border-radius: 5px;
            background-color: #447dad;
            box-shadow: 2px 2px 5px #000000;
            text-align: center;
        }
            div.container div.header div.navbar a{
                font-size: x-large;
                color: white;
                text-decoration: none;
            }
            div.container div.header div.navbar a:hover{
                color: #ffdb3b;
            }
            div.container div.header div.navbar ul{
                display: inline-block;
            }
            div.container div.header div.navbar ul li{
                padding: 10px 10px;
                display: inline-block;
            }
        div.container div.header div.content{
            width: 850px;
            min-height: 300px;
            margin: 0px auto;
        }
            div.container div.header div.content div.left{
                width: 200px;
                padding: 20px;
                margin-right: 13px;
                text-align: center;
                vertical-align: top;
                display: inline-block;
            }
                div.container div.header div.content div.left a{
                    color: white;
                }
                div.container div.header div.content div.left a:hover{
                    color: #ffdb3b;
                }
                div.container div.header div.content div.left ul{
                    list-style-position: inside;
                }
                div.container div.header div.content div.left li{
                    padding: 5px;
                    list-style: none;
                }
                div.container div.header div.content div.left li::before{
                    margin-right: 10px;
                    content: "\00BB";
                    color: #ffdb3b;
                }
            div.container div.header div.content div.right{
                width: 550px;
                padding: 10px;
                text-align: center;
                display: inline-block;
            }
                div.container div.header div.content div.right ul{
                    font-style: italic;
                    color: #ffdb3b;
                    list-style-position: inside;
                }
                div.container div.header div.content div.right li{
                    margin: 15px;
                    list-style: none;
                }
    div.container div.mid{
        width: 850px;
        min-height: 200px;
        margin: 0px auto;
        background-color: white;
        text-align: center;
    }
        div.container div.mid div.mid-block{
            width: 330px;
            margin: 10px;
            padding: 10px 60px 10px 10px;
            text-align: center;
            border-top: 4px solid #447dad;
            vertical-align: top;
            display: inline-block;
        }
            div.container div.mid div.mid-block a{
                color: #447dad;
                text-decoration: none;
            }
            div.container div.mid div.mid-block a:hover{
                color: #ffdb3b;
                text-decoration: none;
            }
            div.container div.mid div.mid-block ul{
                margin-left: 30px;
                list-style-type: square;
            }
            div.container div.mid div.mid-block .link-chico{
                font-size: smaller;
            }
    div.container div.footer{
        height: 110px;
        margin: 0px auto;
        color: white;
        background: rgb(36,80,118);
        background: linear-gradient(180deg, rgba(36,80,118,1) 0%, rgba(36,80,118,1) 50%, rgba(36,80,118,0.8435749299719888) 100%);
        text-align: center;
    }
        div.container div.footer a{
            color: #99c9f1;
            text-decoration: none;
        }
        div.container div.footer a:hover{
            color: #ffdb3b;
        }
        div.container div.footer ul{
            display: inline-block;
        }
        div.container div.footer ul li{
            padding: 50px 50px 5px 50px;
            display: inline-block;
        }
        div.container div.footer .copyright{
            color: #99c9f1;
            font-size: x-small;
        }